.list-group .list-group-item {
    background-color: #3c3d3d;
    border-top: 1px solid #070707;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .list-group .list-group-item:hover {
    background-color: rgb(100, 100, 100);
  }
  .close-navbar-toggler{
    position:absolute;
    top:0;
    right:0;
    height:100%;
    width:100%;
  //  z-index:1;
    cursor:pointer;
  }
  .close-navbar-toggler.collapsed{
    z-index:-1;
  }