.balance{
    font-size: 28px;
    padding: 10px;
    position: relative;
    left: 28vw;
}
.mat-card-body{
    width: 50%;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
}
.new-account{
    border-style: solid;
    border-radius: 25px;
    font-size: 25px;
    display: inline;
    padding: 5px;

    
    position: relative;
    left: 42vw;
    top: 3vw;
}
.new-account{
    cursor: pointer;
}