<form class="body">
    
    <div class="login">
        <div class="card m-2">
            <div class="card-header bg-dark text-white">Login</div>
            <div class="card-body">

                <div class="mb-3 mt-3 text-white">
                    <label for="username" class="form-label">User:</label>
                    <input  name="username" type="text" class="form-control" id="username"
                        placeholder="Enter username">
                </div>
                <div class="mb-3 mt-3 text-white">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password"
                        placeholder="Enter password" name="password">
            </div>
            
            <div class="card-footer bg-dark">
               
                <button type="submit" class="btn btn-light">
                    Login
                   
                </button>
            </div>
        </div>
    </div>
    </div>

</form>